.topbar {
 background-color:#A9A9A9 
}
body {
  background-color:#000000
}
h1 {
 color: green 
}
h2 {
  color: green
}
h3 {
  color: green
}
p {
  color: green
}
.leftbar {
 background-color:#A9A9A9
 position: absolute;
 top: 220;
 width: 275px;
 margin: 0;
 padding: 0;
 list-style: none;
}
